* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 400px;
    background-color: #01040a;
    color: white;
    min-height: 100vh;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
    background-image: url('/project/img/WhatsApp\ Image\ 2025-02-06\ at\ 21.40.03_0c2a1991.jpg');
}

.form-container {
    background:  rgb(245, 245, 248);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

h2 {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input,
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.submit-button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4a0505;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #165206;
}

#h {
    text-align: center;
    background-color: rgba(14, 1, 1, 0.692);
    height: 45px;
    font-weight: 950;
    border: 2px solid rgb(11, 0, 0);
    color: white;
    margin-top: 200px;
}

.active {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    background-color: #48411bfd;
    color: white;
    border: 2px solid #38350484;
    border-radius: 10px;
    cursor: pointer;
}

.active:hover {
    background-color: #38350484;
}

.logo {
    text-align: center;
}

#showAll-librarian {
    margin-top: 15px;
    font-weight: bold;
}
